@model APP.Models.PlanetModel
@{
    Layout="_Layout";
}

<h1>@Model.Name</h1>
<a class="card-link" asp-action="Index" asp-controller="Planet">Quay lại trang planet</a>
<div class="card w-50">
    <img src="~/planet/@(Model.Name).jpg" alt="">
    @if (Model.Name == "Mars")
    {
        <img src="~/planet/@(Model.Name).png" alt="">
    }
    <div class="card-body">
        <h5>@Model.VnName</h5>
        <div class="card-text">
            @Model.Content
        </div> 
    </div>
</div>


