@model APP.Models.ProductModel  
@{
    Layout = "_Layout";
    var product = ViewBag.product as ProductModel;
}


<div class="card bg-dark text-white">
    <h1 class="card-header">Product @product.Id</h1>
    <div class="card-body"> 
        <p class="card-text">
            Name: @product.Name
        </p>
        <p>
            Price: @product.Price
        </p>
    </div>
</div>
<hr>
@this.Path

