@page "/aboutrazor.Html"
@{
    Layout = "_Layout";
}
<h1>Giới thiệu về Razor</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Impedit, culpa minima! Cupiditate qui, mollitia quibusdam 
    quam tenetur corporis repellendus repudiandae hic deleniti nemo, 
    non voluptatem, fugit itaque debitis veritatis nesciunt?
</p>