@model string

@{
    Layout = "_Layout";
}
<div class="card bg-success text-white">
    <h1 class="card-header">Xin chao @Model</h1>
    <div class="card-body">
        <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Eum ea impedit repellendus hic voluptatum in dignissimos, 
            rem iure tenetur, praesentium consequuntur corrupti reprehenderit vitae repellat culpa tempora, 
            nihil molestiae? Nisi!
        </p>
    </div>
</div>
<hr>
@this.Path